@page
@model aspnetcoreapp.Pages_Musics.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Nombre de sons par artistes</h1>
<div class="multiTable">

@{
    foreach (var item in Model.obsArtistInfo){
        <div class="background-image" style="background-image: url('@Html.DisplayFor(modelItem => item.coverUrl)');">
            <h3 class="text-overlay">
                @Html.DisplayFor(modelItem => item.name)
            </h3>
            <h3 class="text-overlay">
                @Html.DisplayFor(modelItem => item.nbrSons)
            </h3>
        </div>
    }
}
</div>
